@using CyberSecurityProject.Data.Entities
@model IEnumerable<Meal>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello User</h1>
    <form asp-action="Index">
        <label>Enter Id</label>
        <input class="form-control mb-3" name="searchValue" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

@if (Model.Count() > 0)
{
    <div class=" row my-3 ">
        @foreach (var Meal in Model)
        {
            <a class="col-md-3 lnk d-flex justify-content-center align-items-center p-0 mb-2 p-3 text-white  " >
                <div class="contain  w-100 h-100 ">
                    <img src="~/files/images/@Meal.ImageUrl" alt="Poster" style="height: 330px;" class=" img-fluid w-100 rounded">
                    <div class=" pb-1 pt-0 px-2 ">
                        <h3 class=" text-center fw-bold m-0 p-0 text-dark">@Meal.Name</h3>
                    </div>
                </div>
            </a>
        }
    </div>

}
else
{
    <div class="container d-flex justify-content-center">
        No Meals
    </div>
}